/*
    Document   : style.css, for cs-portfolio
    Created on : Monday, October 12, 2015,
    Author     : Adrielo (Audrey) Bongalon
    Description: css stylesheet, for 10th grade computer science expeditions course


                                        88
                                        88
                                        88
      ,adPPYYba,  88       88   ,adPPYb,88  8b,dPPYba,   ,adPPYba,  8b       d8
      ""     `Y8  88       88  a8"    `Y88  88P'   "Y8  a8P,,,,,88  `8b     d8'
      ,adPPPPP88  88       88  8b      :88  88          8PP"""""""   `8b   d8'
      88,    ,88  "8a,   ,a88  "8a,   ,d88  88          "8b,   ,aa    `8b,d8'
      `"8bbdP"Y8   `"YbbdP'Y8   `"8bbdP"Y8  88           `"Ybbd8"'      Y88'
                                                                        d8'
                                                                       d8'
    You like my design, huh? Feel free to check it out!
    I'm glad you're curious. (^-^)
*/

root {
    display: block;
}




html {
    background: url("modern_wallpaper1.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}




body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}




.header h1 {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    margin-top: 20%;
    padding: 0;
}
.header h1::selection {
    background: #dd99ff; /* WebKit/Blink Browsers */
}
.header h1::-moz-selection {
    background: #dd99ff; /* Gecko Browsers */
}




.name {
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #00ffff;
}




.name h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    color: #ffffff;
    font-size: 40px;
    padding: 0.5% 6% 0.5%;
    margin: 0;
}
.name h1::selection {
    background: #dd99ff; /* WebKit/Blink Browsers */
}
.name h1::-moz-selection {
    background: #dd99ff; /* Gecko Browsers */
}




.welcome {
    width: 100%
}




.welcome h5 {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}




.welcome {
    text-align: center;
}
.welcome h5::selection {
    background: #dd99ff; /* WebKit/Blink Browsers */
}
.welcome h5::-moz-selection {
    background: #dd99ff; /* Gecko Browsers */
}




.welcome a {
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    border: 1px solid #ffffff;
    border-radius: 23px;
    margin-top: 100px;
    transition: 0.5s all;
}
.welcome a::selection {
    background: #dd99ff; /* WebKit/Blink Browsers */
}
.welcome a::-moz-selection {
    background: #dd99ff; /* Gecko Browsers */
}




.title-link {
    margin-top: 100px;
    transition: all 0.5s ease;
    display: inline-block;
}




.title-link a:active {    
    color: #ffffff;
    background-color: #00bcbc;
    cursor: default;
}




.title-link:hover {
    -webkit-transition: all 0.5s ease;
    -webkit-transform:scale(1.1);
    -moz-transition: all 0.5s ease;
    -moz-transform:scale(1.1);
    transition: all 0.5s ease;
    transform:scale(1.1);
}




.title-link a:hover {
    background-color: rgba(255,255,255,0.25);
    cursor: default;
}




.nav {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	background-color: #000000;
	background-color: rgba(0,0,0,0.6);
	border-bottom: 1px solid #00ffff;
}




.nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
	/*width: 1330px;*/
	width: 88%;
	margin: 0 6% 0;
	padding: 0;
}




.nav a {
    border-right: 1px solid #444444;
}
.left-border {
    border-left: 1px solid #444444;
}




.nav li {
    float: left;
    flex-grow: 1;
    flex-shrink: 1;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    white-space: nowrap;
}




.nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    color: #00ffff;
    transition: 0.4s background-color;
}
.nav li a::selection {
    background: #ffffff; /* WebKit/Blink Browsers */
}
.nav li a::-moz-selection {
    background: #ffffff; /* Gecko Browsers */
}




.nav a:hover {
    background-color: #006868;
    cursor: default;
}




.content-box {
    margin: 0 6%;
}




.main {
    display: inline-block;
    margin: 0 10px 0 0;
    height: 100%;
    width: 70.25%;
    background-color: #f7f7f7;
    background-color: rgba(255,255,255,0.75);
    border-left: 1px solid #a1a1a1;
    border-right: 1px solid #a1a1a1;
}




.main-text {
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-size: 15px;
    text-align: justify;
    padding: 0 20px;
    margin: 10px 0 15px;
}
.main-text::selection {
    background: #dd99ff; /* WebKit/Blink Browsers */
}
.main-text::-moz-selection {
    background: #dd99ff; /* Gecko Browsers */
}




i::selection {
    background: #dd99ff; /* WebKit/Blink Browsers */
}
i::-moz-selection {
    background: #dd99ff; /* Gecko Browsers */
}
b::selection {
    background: #dd99ff; /* WebKit/Blink Browsers */
}
b::-moz-selection {
    background: #dd99ff; /* Gecko Browsers */
}
p.main-text a::election {
    background: #dd99ff; /* WebKit/Blink Browsers */
}
p.main-text a::-moz-selection {
    background: #dd99ff; /* Gecko Browsers */
}




br::selection {
    background: #dd99ff; /* WebKit/Blink Browsers */
}
br ::-moz-selection {
    background: #dd99ff; /* Gecko Browsers */
}




.sidebar-text {
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-size: 13px;
    text-align: justify;
    padding: 0 10px;
    margin: 10px 0 15px;
}
.sidebar-text::selection {
    background: #dd99ff; /* WebKit/Blink Browsers */
}
.sidebar-text::-moz-selection {
    background: #dd99ff; /* Gecko Browsers */
}




.bullet-list {
    margin: 0;
    padding: 0;
}




.bullet-list li {
    list-style: none;
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-size: 15px;
    text-align: justify;
    padding: 0 20px 0 0;
}




.bullet-list li:before {
    content: "-";
    padding-right: 5px;
}




.sidebar {
    float: right;
    vertical-align: top;
    margin: 0;
    width: 27%;
    /*height: 100%;*/
    background-color: #f7f7f7;
    background-color: rgba(255,255,255,0.75);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 1px solid #a1a1a1;
}




h2 {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 25px;
    text-align: justify;
    margin: 20px 20px 0;
    border-bottom: 1px solid #a1a1a1;
}
h2::selection {
    background: #dd99ff; /* WebKit/Blink Browsers */
}
h2::-moz-selection {
    background: #dd99ff; /* Gecko Browsers */
}




h3 {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 20px;
    text-align: justify;
    margin: 150px 20px 10px;
    border-bottom: 1px solid #a1a1a1;
    padding-top: 10px;
}
h3::selection {
    background: #dd99ff; /* WebKit/Blink Browsers */
}
h3::-moz-selection {
    background: #dd99ff; /* Gecko Browsers */
}




h4 {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 20px;
    text-align: justify;
    margin: 15px 10px 0;
    border-bottom: 1px solid #a1a1a1;
    padding-top: 10px;
}
h4::selection {
    background: #dd99ff; /* WebKit/Blink Browsers */
}
h4::-moz-selection {
    background: #dd99ff; /* Gecko Browsers */
}




.small-main {
    display: inline-block;
    margin: 0 1% 0 0;
    width: 70.25%;
    background-color: #f7f7f7;
    background-color: rgba(255,255,255,0.75);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-left: 1px solid #a1a1a1;
    border-right: 1px solid #a1a1a1;
    border-bottom: 1px solid #a1a1a1;
}




.full-main {
    display: inline-block;
    margin: 0 6%;
    height: 100%;
    background-color: #f7f7f7;
    background-color: rgba(255,255,255,0.75);
    border-left: 1px solid #a1a1a1;
    border-right: 1px solid #a1a1a1;
}




.jump-to {
    background-color: #eeeeee;
    border: 2px solid #a1a1a1;
    border-radius: 3px;
    box-shadow: 2px 2px 3px #333333;
    margin: 0 20px;
    width: 200px;
}




.small-title {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 10px 0;
}




.jump-to ol {
    margin: 5px 5px 10px;
}




.jump-to li {
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin: 0 10px;
}




.jump-to a, jump-to a:visited {
    color: #555599;
}




.centre {
    text-align: center;
}




.centre img {
    display: inline-block;
}




.justify {
    text-align: justify;
}





.floatleft {
    float: left;
}




.floatright {
    float: right;
}




table {
    background-color: #eeeeee;
    border: 2px solid #a1a1a1;
    border-radius: 3px;
    box-shadow: 2px 2px 3px #333333;
    margin: 0 20px;
}



thead td {
    font-weight: bold;
    border-bottom: 1px solid #a1a1a1;
}




td {
    text-align: left;
    font-family: "Open Sans", sans-serif;
    padding: 3px 7px 1px;
    vertical-align: top;
    /*border: 1px solid red;*/
}
.td::selection {
    background: #dd99ff; /* WebKit/Blink Browsers */
}
.td::-moz-selection {
    background: #dd99ff; /* Gecko Browsers */
}




td.mono {
    padding: 7px 7px 1px;
}




.tcolumn1 {
    width: 140px;
}




.tcolumn2 {
    width: 160px;
}





.table-title {
    border-bottom: none;
    font-size: 20px;
}
.table-title::selection {
    background: #dd99ff; /* WebKit/Blink Browsers */
}
.table-title::-moz-selection {
    background: #dd99ff; /* Gecko Browsers */
}




.table-footnote {
    border-bottom: none;
    font-size: 10px;
}
.table-footnote::selection {
    background: #dd99ff; /* WebKit/Blink Browsers */
}
.table-footnote::-moz-selection {
    background: #dd99ff; /* Gecko Browsers */
}




.mono-footnote {
    font-family: "Cousine", monospace;
    font-size: 10px;
    border-radius: 1px;
}
.mono-footnote::selection {
    background: #dd99ff; /* WebKit/Blink Browsers */
}
.mono-footnote::-moz-selection {
    background: #dd99ff; /* Gecko Browsers */
}




.img-border img {
    border: 2px solid #eeeeee;
    border-radius: 3px;
    box-shadow: 2px 2px 3px #333333;
}
img::selection {
    background: #dd99ff; /* WebKit/Blink Browsers */
}
img::-moz-selection {
    background: #dd99ff; /* Gecko Browsers */
}

.default-img img{
    margin: 5px 20px;
    display: inline-block;
}




/* vv----v----v----v----v----v----v----v----v----v----v----v----v----v----v----v----v----v----v----v----v----v----v----v----v----v----v----v----vv */

.caption-box {
    margin: 5px 20px 0;
}
/* make sure to manually add the width and the side to float it to in the html */




.caption {
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-size: 10px;
    margin: 0;
    padding-top: 2px;
    text-align: center;
}

/* ^^----^----^----^----^----^----^----^----^----^----^----^----^----^----^----^----^----^----^----^----^----^----^----^----^----^----^----^----^^ */




.subtext {
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-size: 13px;
}




.mono {
    font-family: "Cousine", monospace;
    color: #000000;
    font-size: 15px;
}




.mono-side {
    font-family: "Cousine", monospace;
    color: #000000;
    font-size: 13px;
}




.offwhite-highlight {
    background-color: #efefef;
    padding: 1px 2px;
    border-radius: 2px;
}
.offwhite-highlight::selection {
    background: #dd99ff; /* WebKit/Blink Browsers */
}
.offwhite-highlight::-moz-selection {
    background: #dd99ff; /* Gecko Browsers */
}




.white-highlight {
    background-color: #ffffff;
    padding: 1px 2px;
    border-radius: 2px;
}




#css-example {
    font-family: "Raleway", sans-serif;
    background-color: #99ffff;
    padding: 0 7px;
    border: 2px solid #4444ff;
    border-radius: 9px;
    font-style: italic;
    text-decoration: underline;
}




.rainbow {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 15px 10px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f),
                      color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f),
                      color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
}
/*this is weird in that "background-clip: text" is producing an error, even though it works (and changing it to a "box" will paint the entire element
space, rather than just the text)*/




.black-bg {
    background-color: #000000;
    margin: 0 auto;
    /*height: 100%;*/
    width: 75%;
    border-radius: 5px;
}




.hax-txt {
    font-family: "Cousine", monospace;
    padding: 15px 15px;
    font-size: 10px;
    /*line-height: 90%;*/
    margin: 10px 20px 15px;
    background-color: #000000;
    color: #00ffff;
    border: 2px solid #00ffff;
    box-shadow: 2px 2px 3px #333333;
}




/* ----------------------------------------------------------------------------------------------------------------------------------------------- */




.calculator-box {
    display: inline-block;
    width: 99.8%;
    margin: 0;
    background-color: #f7f7f7;
    background-color: rgba(255, 255, 255, 0.75);
    border-left: 1px solid #a1a1a1;
    border-right: 1px solid #a1a1a1;
    border-bottom: 1px solid #a1a1a1;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}




.calculator{
    padding: 0 20px;
    margin: 10px 0 15px;
}




#input1, #input2 {
    width: 50px;
}




#boxgamecanvas {
    margin: 10px 20px 10px;
    border: 2px ridge #a1a1a1;
    background-color: #efefef;
    background-color: rgba(255, 255, 255, 0.65);
}




.twilio-tool {
    margin: 10px 20px 15px;
}




#input1, #input2, #phoneNumberInput, #messageInput {
    font-family: "Open Sans", sans-serif;
    margin: 1px 0 1px;
}




#dropdown, #submitButton, #twiliobutton, #twiliobutton-text-audrey, #twiliobutton-text-jelly, #twiliobutton-call, #twiliobutton-call-audrey,
#twiliobutton-call-jelly, #clear-button, #reset-button, #draw-slow, #draw-med, #draw-fast {
    font-family: "Raleway", sans-serif;
    margin: 1px 0 1px;
    color: #111111;
    transition: 0.4s color;
}

#dropdown:hover, #submitButton:hover, #twiliobutton:hover, #twiliobutton-text-audrey:hover, #twiliobutton-text-jelly:hover, #twiliobutton-call:hover,
#twiliobutton-call-audrey:hover, #twiliobutton-call-jelly:hover, #clear-button:hover, #reset-button:hover, #draw-slow:hover, #draw-med:hover,
#draw-fast:hover {
    font-family: "Raleway", sans-serif;
    margin: 1px 0 1px;
    color: #00cccc;
}
#dropdown:active, #submitButton:active, #twiliobutton:active, #twiliobutton-text-audrey:active, #twiliobutton-text-jelly:active,
#twiliobutton-call:active, #twiliobutton-call-audrey:active, #twiliobutton-call-jelly:active, #clear-button:active, #reset-button:active,
#draw-slow:active, #draw-med:active, #draw-fast:active {
    font-family: "Raleway", sans-serif;
    margin: 1px 0 1px;
    color: #66ff66;
}
/*#dropdown::selection, #submitButton::selection, #twiliobutton::selection, #twiliobutton-text-audrey::selection, #twiliobutton-text-jelly::selection,*/
/*#twiliobutton-call::selection, #twiliobutton-call-audrey::selection, #twiliobutton-call-jelly::selection, #clear-button::selection, #reset-button::selection,*/
/*#draw-slow::selection, #draw-med::selection, #draw-fast::selection {*/
/*    background: #dd99ff;*/
/*}*/




:placeholder-shown {
    vertical-align: top;
    color: #a1a1a1;
}
::-webkit-input-placeholder {
    vertical-align: top;
    color: #a1a1a1;
}
::-moz-placeholder {
    vertical-align: top;
    color: #a1a1a1;
}




#spacegamecanvas {
    margin: 10px 20px 40px;
    border: 1px solid #a1a1a1;
    background-color: #101010;
    background-color: rgba(0, 0, 0, 0.95);
    background-image: url("stars-background-edit.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




#synthcanvas {
    margin: 10px 20px 30px;
    border: 1px solid #a1a1a1;
    background-color: #7ae6a9;
    background-color: rgba(122, 230, 169, 0.7);
}




#keyspanSlider {
    margin: 5px 20px 40px;
}